/logs.log    
            --this for all logs.log file in this root

logs.log   
            --this for all logs.log file in whole directory

*.log  
            all .log file
*.cpp



for folder (ignore folder)
ggg/