@font-face {
    font-family: 'Inter UI';
    font-style: normal;
    font-weight: 400;
    src: url('fonts/interui/Inter-UI-Regular.eot');
    src: url('fonts/interui/Inter-UI-Regular.eot?#iefix') format('embedded-opentype'), url('fonts/interui/Inter-UI-Regular.ttf') format('truetype'), url('fonts/interui/InterUI-Regular.woff') format('woff');
}

@font-face {
    font-family: 'Inter UI';
    font-style: normal;
    font-weight: 500;
    src: url('fonts/interui/Inter-UI-Bold.eot');
    src: url('fonts/interui/Inter-UI-Bold.eot?#iefix') format('embedded-opentype'), url('fonts/interui/Inter-UI-Bold.ttf') format('truetype'), url('fonts/interui/Inter-UI-Bold.woff') format('woff'),
}

@font-face {
    font-family: 'Inter UI';
    font-style: normal;
    font-weight: 700;
    src: url('fonts/interui/Inter-UI-Medium.eot');
    src: url('fonts/interui/Inter-UI-Medium.eot?#iefix') format('embedded-opentype'), url('fonts/interui/Inter-UI-Medium.ttf') format('truetype'), url('fonts/interui/Inter-UI-Medium.woff') format('woff');
}
header .col-xs-9 {
    width: auto;
    float: right;
    line-height: 72px;
}

header .col-x-6 {
    width: 200px;
}

.image-header-ukvi-logo img {
    padding-right: 5px;
}

.image-header-vfs-logo img {
    width: 100px;
    height: auto;
}

.dropdown-content {
    display: none;
}

.dropdown-content.active {
    display: block;
}

.tabs_container>ul.tab_content_list>li {
    display: none;
}

.tabs_container>ul.tab_content_list>li.active {
    display: block;
}

.tabs_container {
    width: 100%;
    margin: 25px 0 0;
    float: left;
}

.tabs_container>.select_wrapper select {
    width: 200px;
}
.visa_fee_calculator .select_wrapper{
    display: block !important;
    }
.tabs_container ul.tab_content_list {
    padding: 10px 10px;
    margin: 0;
    display: inline-block;
    width: 100%;
}

.tabs_container ul.tab_button_list {
    width: 100%;
    background: #f8f9fa;
    float: left;
    margin: 0;
    padding: 0;
}

.tabs_container ul.tab_button_list li {
    float: left;
    cursor: pointer;
    list-style-type: none;
    width: auto;
    border-top: 4px solid #f8f9fa;
    padding: 12px 12px 16px;
}

.tabs_container ul.tab_button_list li:hover {
    border-top: 4px solid #e86020;
}

.tabs_container ul.tab_button_list li.active {
    border-top: 4px solid #e86020;
}

.visa-type-content {
    width: 100%;
    padding: 10px 0;
    float: left;
}

.nobotpadd {
    padding-bottom: 0 !important;
}

.mart10 {
    margin-top: 10px;
}

.mart20 {
    margin-top: 20px;
}

.marb20 {
    margin-bottom: 20px;
}

.table_template table {
    border: 1px solid #d7d7d7;
    border-spacing: 0px;
    border-collapse: collapse;
    width: 100%;
}

.table_template table tr th {
    background-color: #ebebeb;
    padding: 20px 10px;
    border-bottom: 1px solid #d7d7d7;
    border-right: 1px solid #d7d7d7;
    text-transform: uppercase;
    font-size: 14px;
    color: #003259;
    font-weight: normal;
}

.table_template table tr th:last-child {
    border-right: none;
}


/*edited new*/

.table_template table tr td {
    padding: 20px 10px;
    border-right: 1px solid #d7d7d7;
    font-size: 14px;
    color: #003259;
    border-bottom: 1px solid #d7d7d7;
}


/*End edited new*/

.table_template table tr td:last-child {
    border-right: none !important;
}

.document-req tr td:first-child {
    width: 30px;
}

.visa-type-content img {
    margin-right: 6px;
    vertical-align: middle;
}

.semibold {
    font-weight: bold;
}

.document-req tr {
    line-height: 30px;
}

.select_wrapper {
    display: none;
}

@media screen and (max-width:991px) {
    .select_wrapper {
        display: block;
    }
    ul.tab_button_list {
        display: none;
    }
}

@media screen and (max-width:767px) {
    .container-article {
        padding-top: 30px;
        padding-bottom: 30px;
    }
}

@media screen and (max-width: 580px) {
    header .col-xs-9 {
        width: auto;
        float: none;
        text-align: center;
        margin-bottom: 20px;
        line-height: normal;
        padding-right: 0;
    }
}

@media screen and (min-width:411px) {
    .container-article {
        padding-top: 30px;
        padding-bottom: 30px;
    }
    .pb-4 {
        padding-bottom: 0 !important;
    }
    .premium-services-vac-selector select {
        margin-top: 10px;
    }
    .footer-common {
        padding-top: 20px;
        padding-bottom: 20px;
    }
}

ul.accordion {
    list-style-type: none;
    padding: 0 0 20px;
}

ul.accordion.type1>li {
    position: relative;
    left: 0px;
    top: 0px;
    padding-bottom: 0;
    padding-left: 0;
    opacity: 1;
    filter: alpha(opacity=100);
    -webkit-transition: all 1s;
    -moz-transition: all 1s;
    -o-transition: all 1s;
    transition: all 1s;
}

ul.accordion.type1>li>.accordion_button {
    position: relative;
    border-bottom: 1px solid #ccc;
    overflow: hidden;
    cursor: pointer;
}


/*ul.accordion.type1>li:last-child>.accordion_button {
    border: 0;
}*/

ul.accordion.type1>li>.accordion_button:after {
    content: '';
    position: absolute;
    right: 15px;
    top: 50%;
    margin-top: -7px;
    width: 15px;
    height: 15px;
    background: url("../images/down-arrow.gif") no-repeat center;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
}

ul.accordion.type1>li.active>.accordion_button:after {
    transform: rotate(180deg);
}

ul.accordion.type1>li>.accordion_button>.button_content {
    display: table;
    width: 100%;
}

ul.accordion.type1>li>.accordion_button>.button_content>* {
    display: table-cell;
    vertical-align: middle;
}

ul.accordion.type1>li>.accordion_button>.button_content>span.icon {
    padding: 0px 5px;
    width: 50px;
    font-size: 30px;
    box-sizing: border-box;
    color: #fff;
    text-align: center;
}

ul.accordion.type1>li>.accordion_button>.button_content>.heading_wrapper {
    padding: 15px 6px 15px 0;
    position: relative;
    width: 75%;
}

ul.accordion.type1>li>.accordion_button>.button_content>.heading_wrapper>.heading {
    font-size: 18px;
    color: #031b30;
    text-transform: capitalize;
}

ul.accordion.type1>li>.accordion_button>.button_content>.heading_wrapper>.fees {
    position: absolute;
    left: 20px;
    bottom: 0px;
    padding: 2px 4px;
    box-sizing: border-box;
    color: #003259;
    background: #ebebeb;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    box-shadow: 0px 0px 3px #888;
}

ul.accordion.type1>li>.accordion_button>.button_content>.other_info_wrapper {
    display: table-cell;
    vertical-align: middle;
    padding: 10px 20px;
    padding-right: 50px;
    width: 20%;
}

ul.accordion.type1>li>.accordion_button>.button_content>.other_info_wrapper>.heading>span {
    font-size: 17px;
    position: relative;
    text-align: center;
    display: block;
    border-radius: 5px;
    overflow: hidden;
    color: #003259;
    padding: 3px 0px;
}

ul.accordion.type1>li>.accordion_button>.button_content>.other_info_wrapper>a>.heading:before {
    content: '';
    display: block;
    position: absolute;
    left: 0%;
    top: 0%;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.15);
}

ul.accordion.type1>li>.accordion_button>.button_content>.other_info_wrapper>a>.heading>span {
    position: relative;
}

ul.accordion>li>.accordion_content {
    display: none;
}

ul.accordion>li>.accordion_content>.main_accordion_content {
    padding: 10px 0px;
    border-bottom: 1px solid #ccc;
}

ul.accordion.type2>li>.accordion_button {
    display: table;
    margin-bottom: 5px;
}

ul.accordion.type2>li>.accordion_button>a.big_arrow_btn>img {
    display: inline-block;
    vertical-align: middle;
    padding-left: 5px;
}

ul.accordion.type2>li>.accordion_button>a.big_arrow_btn {
    display: table-cell;
    vertical-align: middle;
    border-radius: 5px;
    -moz-box-shadow: 5px 5px 10px #888;
    -webkit-box-shadow: 5px 5px 10px #888;
    box-shadow: 5px 5px 10px #888;
    background-color: #dc780a;
    padding: 7px 10px;
    color: #fff;
    text-align: center;
    cursor: pointer;
}

ul.accordion.type2>li>.accordion_button>a.big_arrow_btn>span {
    vertical-align: middle;
}

.accordion .heading {
    font-weight: bold;
}

.accordion .heading h4 {
    margin: 0;
    padding: 0 15px 0 0;
    font-size: 19px;
    font-weight: 400;
}

.smalltable table {
    width: 70%;
}

.pdf-icon {
    background: url(../images/pdf_img.png) no-repeat scroll 0 0;
    padding: 0 0 0 30px;
}

.accordion.type3 h4 {
    display: table;
    line-height: 24px;
    vertical-align: middle;
    background: #efefef;
}

.accordion.type3 .accordion_button {
    background: #efefef;
}

.heading .steptxt-col {
    background: #c9c9c9;
    padding: 10px 10px;
    display: table-cell;
    width: 84px;
    vertical-align: middle;
}

.heading .stepmaintxt {
    display: table-cell;
    padding: 10px 50px 10px 16px;
    vertical-align: middle;
}

ul.accordion.type3>li {
    position: relative;
    left: 0px;
    top: 0px;
    padding-bottom: 0;
    padding-left: 0;
    opacity: 1;
    filter: alpha(opacity=100);
    -webkit-transition: all 1s;
    -moz-transition: all 1s;
    -o-transition: all 1s;
    transition: all 1s;
}

ul.accordion.type3>li {
    margin-bottom: 25px;
    /*border: 1px solid #d3d3d3;*/
}

ul.accordion.type3>li:last-child {
    margin-bottom: 0;
}

ul.accordion.type3>li>.accordion_button {
    position: relative;
    overflow: hidden;
    cursor: pointer;
}

ul.accordion.type3>li>.accordion_button:after {
    content: '';
    position: absolute;
    right: 15px;
    top: 50%;
    margin-top: -7px;
    width: 16px;
    height: 16px;
    background: url(../images/down-arrow2.png) no-repeat center;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
}

ul.accordion.type3>li.active>.accordion_button:after {
    transform: rotate(180deg);
}

ul.accordion.type3>li>.accordion_button>.button_content>* {
    display: table-cell;
    vertical-align: middle;
}
ul.accordion.type1>li>.accordion_button:after {
    content: '';
    position: absolute;
    right: 15px;
    top: 50%;
    margin-top: -7px;
    width: 15px;
    height: 15px;
    background: url("../images/down-arrow.gif") no-repeat center;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
}

ul.accordion.type1>li.active>.accordion_button:after {
    transform: rotate(180deg);
}

ul.accordion.type1>li>.accordion_button>.button_content {
    display: table;
    width: 100%;
}

ul.accordion.type1>li>.accordion_button>.button_content>* {
    display: table-cell;
    vertical-align: middle;
}

ul.accordion.type1>li>.accordion_button>.button_content>span.icon {
    padding: 0px 5px;
    width: 50px;
    font-size: 30px;
    box-sizing: border-box;
    color: #fff;
    text-align: center;
}

ul.accordion.type1>li>.accordion_button>.button_content>.heading_wrapper {
    padding: 15px 6px 15px 0;
    position: relative;
    width: 75%;
}

ul.accordion.type1>li>.accordion_button>.button_content>.heading_wrapper>.heading {
    font-size: 18px;
    color: #031b30;
    text-transform: capitalize;
}

ul.accordion.type1>li>.accordion_button>.button_content>.heading_wrapper>.fees {
    position: absolute;
    left: 20px;
    bottom: 0px;
    padding: 2px 4px;
    box-sizing: border-box;
    color: #003259;
    background: #ebebeb;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    box-shadow: 0px 0px 3px #888;
}

ul.accordion.type1>li>.accordion_button>.button_content>.other_info_wrapper {
    display: table-cell;
    vertical-align: middle;
    padding: 10px 20px;
    padding-right: 50px;
    width: 20%;
}

ul.accordion.type1>li>.accordion_button>.button_content>.other_info_wrapper>.heading>span {
    font-size: 17px;
    position: relative;
    text-align: center;
    display: block;
    border-radius: 5px;
    overflow: hidden;
    color: #003259;
    padding: 3px 0px;
}

ul.accordion.type1>li>.accordion_button>.button_content>.other_info_wrapper>a>.heading:before {
    content: '';
    display: block;
    position: absolute;
    left: 0%;
    top: 0%;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.15);
}

ul.accordion.type1>li>.accordion_button>.button_content>.other_info_wrapper>a>.heading>span {
    position: relative;
}

ul.accordion>li>.accordion_content {
    display: none;
}

ul.accordion>li>.accordion_content>.main_accordion_content {
    padding: 10px 0px;
    border-bottom: 1px solid #ccc;
}

ul.accordion.type2>li>.accordion_button {
    display: table;
    margin-bottom: 5px;
}

ul.accordion.type2>li>.accordion_button>a.big_arrow_btn>img {
    display: inline-block;
    vertical-align: middle;
    padding-left: 5px;
}

ul.accordion.type2>li>.accordion_button>a.big_arrow_btn {
    display: table-cell;
    vertical-align: middle;
    border-radius: 5px;
    -moz-box-shadow: 5px 5px 10px #888;
    -webkit-box-shadow: 5px 5px 10px #888;
    box-shadow: 5px 5px 10px #888;
    background-color: #dc780a;
    padding: 7px 10px;
    color: #fff;
    text-align: center;
    cursor: pointer;
}

ul.accordion.type2>li>.accordion_button>a.big_arrow_btn>span {
    vertical-align: middle;
}

.accordion .heading {
    font-weight: bold;
}

.accordion .heading h4 {
    margin: 0;
    padding: 0;
    font-size: 19px;
    font-weight: 400;
}

.smalltable table {
    width: 70%;
}
.package-section {
    width: 100%;
    max-width: 100%;
    border: 1px solid #DDD;
    display: table;
    box-sizing: border-box;
    margin-top: 20px;
}
.package-panel {
    width: 100%;
    display: table-row;
}
.package-panel .select_wrapper select {
    width: 420px;
    background: none;
    color: #333;
    max-width: 100%;
}
.package-panel .select_wrapper select[disabled] {
    background: #E5E5E5;
    opacity: 0.5;
}
.package-col1 {
    width: 75%;
    border-right: 1px solid #DDD;
    padding: 10px;
    box-sizing: border-box;
    display: table-cell;
    vertical-align: middle;
    border-bottom: 1px solid #DDD;
}
.package-col1 p {
    margin-bottom: 0px;
    margin-top: 10px;
}
.package-col2 {
    width: 25%;
    padding: 5px;
    box-sizing: border-box;
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    border-bottom: 1px solid #DDD;
}

.package-panel:last-child .package-col1, .package-panel:last-child .package-col2 {
    border-bottom: none;
}
.package-section .select_wrapper select {
    margin: 0;
}
.package-panel.header .package-col1, .package-panel.header .package-col2 {
    background: #E5E5E5;
    color: #333;
}
.package-panel.result .package-col1, .package-panel.result .package-col2 {
    background: #003259;
    color: #fff;
}

.visa_fee_calculator {
    border-top: 1px solid #ddd;
    width: 650px;
    max-width: 100%;
    margin: 0 auto;
    padding: 25px 0 0;
}

.visa_fee_calculator h4{margin:0 0 15px; text-align:center;}
.visa_fee_calculator> select{width: 100%}
.visa_fee_calculator h5 {
    background: #E5E5E5;
    padding: 7px;
    color: #333;
    font-family: 'sourcesanspro-semibold';
    margin-top: 20px;
}

#visa_fee_form strong {
    font-family: 'sourcesanspro-semibold';
    font-weight: normal;
}

.clear {
    clear: both;
}

.breadcrumbs {
    background: rgba(6, 52, 91, .5);
    padding: 6px 0;
    position: relative;
    top: 40px;
    z-index: 1;
}

.breadcrumbs p {
    margin: 0;
    font-size: 14px;
    color: hsla(0, 0%, 100%, .7);
}

.breadcrumbs p a {
    text-decoration: underline;
    color: hsla(0, 0%, 100%, .7);
}